<head>
    <meta charset="UTF-8" />
    <title>profiler - 5eagles</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .button {
            width: 80px;
            height: 40px;
            margin-left: 20px;
            background-color: rgb(165, 255, 255);
            font-size: 20px;
        }
        h2{
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <canvas id="myChart" width="1500px" height="500px"></canvas>
    
    <script language="JavaScript">
        var chartArea = document.getElementById('myChart').getContext('2d');
        let data1 = ["{{max}}"];
        let data2 = ["{{min}}"];
        let data3 = ["{{average1}}"];
        let name2 = "{{name}}";
        let id = "{{id}}";

        const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

        // $(document).ready(function () {
        //     switch(id){
        //         case "0":
        //             var title = {text: "core1의 Task별 수행능력"};
        //             break;
        //         case "1":
        //             var title = {text: "core2의 Task별 수행능력"};
        //             break;
        //         case "2":
        //             var title = {text: "core3의 Task별 수행능력"};
        //             break;
        //         case "3":
        //             var title = {text: "core4의 Task별 수행능력"};
        //             break;
        //         case "4":
        //             var title = {text: "core5의 Task별 수행능력"};
        //             break;
        //         case "5":
        //             var title = {text: "Task1의 core별 수행능력"};
        //             break;
        //         case "6":
        //             var title = {text: "Task2의 core별 수행능력"};
        //             break;
        //         case "7":
        //             var title = {text: "Task3의 core별 수행능력"};
        //             break;
        //         case "8":
        //             var title = {text: "Task4의 core별 수행능력"};
        //             break;
        //         case "9":
        //             var title = {text: "Task5의 core별 수행능력"};
        //             break;
        //         default:
        //             var title = {text: "독수리 오남매"};
        //             break;
        //     };

        //     var subtitle = {
        //         text: "Profiler-5eagles"
        //     };            
            
        //     if (name2 === "core") {
        //         var xAxis = {
        //             categories: ["core1", "core2", "core3", "core4", "core5"]
        //         };
        //     } else {
        //         var xAxis = {
        //             categories: ["task1", "task2", "task3", "task4", "task5"]
        //         };
        //     }

        //     var yAxis = {
        //         title: {
        //             text: "value",
        //         },
        //         plotLines: [
        //             {
        //                 value: 0,
        //                 width: 1,
        //                 color: "#101010",
        //             },
        //         ],
        //     };

        //     var tooltip = {
        //         valueSuffix: "\xB0C",
        //     };

        //     var legend = {
        //         layout: "vertical",
        //         align: "right",
        //         verticalAlign: "middle",
        //         borderWidth: 0,
        //     };

        //     var series = [
        //         {
        //             name: "max",
        //             data: [parseInt("{{max[0]}}"), parseInt("{{max[1]}}"), parseInt("{{max[2]}}"), parseInt("{{max[3]}}"), parseInt("{{max[4]}}")],
        //         },
        //         {
        //             name: "min",
        //             data: [parseInt("{{min[0]}}"), parseInt("{{min[1]}}"), parseInt("{{min[2]}}"), parseInt("{{min[3]}}"), parseInt("{{min[4]}}")],
        //         },
        //         {
        //             name: "average1",
        //             data: [parseInt("{{average1[0]}}"), parseInt("{{average1[1]}}"), parseInt("{{average1[2]}}"), parseInt("{{average1[3]}}"), parseInt("{{average1[4]}}")],
        //         },
        //     ];

        //     var json = {};

        //     json.title = title;
        //     json.subtitle = subtitle;
        //     json.xAxis = xAxis;
        //     json.yAxis = yAxis;
        //     json.tooltip = tooltip;
        //     json.legend = legend;
        //     json.series = series;

        //     $("#container").highcharts(json);


        // });

    </script>
    <h2>코어단위</h2>
    <button class="button" onclick='location.href="/as/0/core1"'>core1</button>
    <button class="button" onclick='location.href="/as/1/core2"'>core2</button>
    <button class="button" onclick='location.href="/as/2/core3"'>core3</button>
    <button class="button" onclick='location.href="/as/3/core4"'>core4</button>
    <button class="button" onclick='location.href="/as/4/core5"'>core5</button>
    <br>
    <h2>작업단위</h2>
    <button class="button" onclick='location.href="/as/5/core"'>Task1</button>
    <button class="button" onclick='location.href="/as/6/core"'>Task2</button>
    <button class="button" onclick='location.href="/as/7/core"'>Task3</button>
    <button class="button" onclick='location.href="/as/8/core"'>Task4</button>
    <button class="button" onclick='location.href="/as/9/core"'>Task5</button>
</body>

</html>